#line1{
    background:#f7f7f7;
    border:0;
    height:1px;
}

body{
    background: #ffffff;
}
.hr2{
    position: relative;
}

.register{
    position: fixed;
    height: 30px;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.reg-body{
    background: #f7f7f7;
    height:500px;
    width: 500px;
    margin: 130px auto 0;
}

#fname, #lname, #phno, #email{
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
    height: 50px;
    background: #fff;
    font-size: .875rem;
    margin-bottom: .5rem;
    border-radius: 3px;
}
